.bond-container {
    width:60%;
    margin:auto;
    margin-top:2rem;
}

.bond-container-tablet, .bond-container-mobile, .bond-container-mobile-sm {
    width:100%;
    margin-top:1rem;
    padding:0 1rem;
}

.form-label, .form-label-tablet {
    font-size:.95rem !important;
}

.form-label-mobile, .form-label-mobile-sm {
    font-size:.65rem !important;
}

input[class^="form-month"] {
    flex:1 !important;
    padding:.25rem !important;
    text-align:center !important;
}

.form-month-mobile, .form-month-mobile-sm {
    height:2rem !important;
    line-height:1rem !important;
    font-size:.1rem !important;
}

.form-seperator-mobile, .form-seperator-mobile-sm {
    padding-left:.35rem !important;
    padding-right:.35rem !important;
    height:2rem !important;
    line-height:2rem !important;
    font-size:.9rem !important;
}

input[class^="form-year"] {
    flex:1.5 !important;
    padding:.25rem !important;
    text-align:center !important;
    margin-left:-1px !important;
}

.form-year-mobile, .form-year-mobile-sm {
    height:2rem !important;
    line-height:1rem !important;
    font-size:1rem !important;
}

.bond-input-mobile, .bond-input-mobile-sm {
    height:2rem !important;
    line-height:1rem !important;
    font-size:.9rem !important;
}

.form-button, .form-button-tablet {
    position:absolute;
    top:0;
    right:.25rem;
    padding:.25rem !important;
    font-size:.7rem !important;
}

.form-button-mobile, .form-button-mobile-sm {
    position:absolute;
    top:0;
    right:.25rem;
    padding:.15rem !important;
    font-size:.55rem !important;
}

.card-header, .card-header-tablet {
    font-size: .75rem !important;
}

.card-header-mobile, .card-header-mobile-sm {
    font-size: .5rem !important;
}

.card-title, .card-title-tablet {
    font-size: 1.25rem !important;
}

.card-title-mobile, .card-title-mobile-sm {
    font-size: 1rem !important;
}

.card-body, .card-body-tablet, .card-body-mobile, .card-body-mobile-sm {
    text-align:center;
  }

.card-body-mobile, .card-body-mobile-sm {
padding: .5rem !important;
}

table[class^="bond-table"]{
    margin:0;   
    border:1px solid #dee2e6;
}

.bond-table th {
    border-top:none !important;
}

.bond-table td, .bond-table th {
    border-bottom-width:1px !important;
}

.bond-table-head, .bond-table-head-tablet {
    text-align: center !important;
    font-size: .75rem !important;
    text-transform: uppercase;
    white-space:nowrap !important;
}

.bond-table-head-mobile, .bond-table-head-mobile-sm {
    text-align: center !important;
    font-size: .5rem !important;
    text-transform: uppercase;
    white-space:nowrap !important;
}

.bond-table-row, .bond-table-row-tablet {
    text-align: center !important;
    font-size: 1rem !important;
}

.bond-table-row-mobile, .bond-table-row-mobile-sm {
    text-align: center !important;
    font-size: .75rem !important;
}

.close {
    position: absolute;
    top: .75rem;
    right: -1.25rem;
}

.close-mobile{
    position: absolute;
    top:.1rem;
    right:-1.25rem;
}